@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* general styles */
body {
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

h1 {
    margin: auto;
    text-align: center;
}

body, html {
  margin: 0;
  height: 100%;
}

/* div styles and ids*/
#app {
    width: 50%;
    border: black;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    position: relative;
    display: grid;
}

#title {
  margin-bottom: 50%;
}

#newTitle {
  margin-bottom: 5%;
}

#question {
  margin-bottom: 5%;
}

.btn-secondary {
  font-size: xx-large;
}

#score {
  font-size: 24px;
}

#startButton {
  text-align: center;
  /* centers the button in the middle of the parent div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

/* media queries TODO */
@media (max-width: 500px) {
  
}